@import "fonts.css";


.tab-bar { background: #313366;}
.tab-bar a { color : white;}
.right-small, .left-small { border-color: #efefef;}

.top-bar h1  {size:1rem;}

#app_menu_container {
	list-style: none;
	height :auto;
}

body,html{
    height:100%;
    width:100%;
    background-color: #eeeeee;
}

.main-section{ 
	width:auto;
	height:auto;
}

.off-canvas-wrap,.inner-wrap{ height:100%;}

.page{ height:100%; }

.app-iframe {
	width: 100%;
	height: 100%;
}

#app-client-container {
	width: 100%;
	height: calc(100% - 50px);
	display: none;
}

/* ********** Menu Style ********** */

/*
aside{ margin-top:2.8125rem;}
*/

.right-off-canvas-menu, .left-off-canvas-menu { 
	background-color :white;
	box-shadow: 0 0 40px rgba(0,0,0,0.2);
}

.left-menu.icon-bar > * { padding: 0.375rem 0.75rem;}

ul.off-canvas-list li a:hover, ul.off-canvas-list li.no-link:hover {
	background-color: rgba(0,0,0,0.025);
	cursor: pointer;
}

ul.off-canvas-list li a, ul.off-canvas-list li.no-link {
	border-bottom : 0px solid white;
	color : rgba(0,0,0,0.5);
	padding:0.66667rem;
}

.offcanvas-overlap-left .exit-off-canvas :hover,
.offcanvas-overlap-right .exit-off-canvas :hover {
	background: rgba(0, 0, 0, 0.08);
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}

.offcanvas-overlap-left .exit-off-canvas,
.offcanvas-overlap-right .exit-off-canvas {
	background: rgba(0, 0, 0, 0.15);
}

@media only screen and (min-width: 40.063em) {
	.offcanvas-overlap-left .exit-off-canvas:hover,
	.offcanvas-overlap-right .exit-off-canvas:hover {
	background: rgba(0, 0, 0, 0.08);
	-webkit-transition: opacity .2s;
	transition: opacity .2s;
}}

/*
ul.off-canvas-list li { border-bottom: 2px solid #fbfbfb;}
*/

#util-menu-small a {
	padding-left: 2.75rem;
	background-repeat: no-repeat;
	background-size: 1.25rem;
	background-position: center left 0.75rem;
}

ul.off-canvas-list .tool {
	background-repeat: no-repeat;
	background-size: 0.75rem;
	background-position: center left 1.0875rem;
	text-align: left;
	padding-left: 2.75rem !important;
}


/* 
*** Widgets Styles
*/

.widget {
	margin-bottom: 0.4375rem;
}

.widget .current.tool { background-color : #eeeeee;}

.widget .hidden{ display: none;}

.widget .refresh {
	background: url('../img/icon_refresh.png') center no-repeat;
	background-size: 1.25rem;
	height: 2.25rem;
}

.widget .sortable-ghost {
	border: 2px dashed #CCC;
	background : url(../img/icon_plus_cross.png) no-repeat center;
	background-size: 32px;
}

.widget .sortable-ghost > * {visibility: hidden;}

.widget .tool 		{background-image: url('../img/icon_status_green.png');}
.widget .tool.err 	{background-image: url('../img/icon_status_red.png');}
.widget .tool.disc 	{background-image: url('../img/icon_status_grey.png');}

.widget .tool span {
	-webkit-transition: opacity .15s;
	transition: opacity .15s;
	opacity: 0;
	display: block;
	cursor: pointer;
	color: #c00;
	width: 1.5rem;
	height: 1.5rem;
	display: inline-block;
	background: red;
	float: right;
}

.widget .tool:hover span { opacity: 1;}

.widget ul li label {
	/*
	display:none;
	*/
	border-top: none;
	border-bottom : 1px solid #eeeeee;
	padding: 0.3rem 0.5rem 0.125rem;
	background: white;
}

.icon-bar { background: white;}

@media only screen and (min-width: 64.063em) {
	.icon-bar.large-vertical { margin-right: 0.3125rem; }
}

#icon_home {background-image: url('../img/icon_home.png');}
#icon_global {background-image: url('../img/icon_global.png');}
#icon_apps {background-image: url('../img/icon_apps.png');}
#icon_social {background-image: url('../img/icon_social.png');}
#icon_search {background-image: url('../img/icon_search.png');}
#icon_folder {background-image: url('../img/icon_folder.png');}
#icon_settings {background-image: url('../img/icon_settings.png');}
#icon_status {background-image: url('../img/icon_status.png');}

/*
#icon_home:hover {background-image: url('../img/icon_home_w.png');}
#icon_global:hover {background-image: url('../img/icon_global_w.png');}
#icon_apps:hover {background-image: url('../img/icon_apps_w.png');}
#icon_social:hover {background-image: url('../img/icon_social_w.png');}
#icon_search:hover {background-image: url('../img/icon_search_w.png');}
#icon_folder:hover {background-image: url('../img/icon_folder_w.png');}
#icon_settings:hover {background-image: url('../img/icon_settings_w.png');}
#icon_status:hover {background-image: url('../img/icon_status_w.png');}
.current-tool:hover {background-image: url('../img/icon_status_green.png');}
.current-tool.ok:hover {background-image: url('../img/icon_status_green.png');}
.current-tool.err:hover {background-image: url('../img/icon_status_red.png');}
.current-tool.disc:hover {background-image: url('../img/icon_status_grey.png');}
*/

/* ********** Icon apps grid ********** */
.app-icon {
	float: left;
	width: 128px;
	height: 96px;
	text-align: center;
	margin: 16px;
	/*background-color:#eeeeee;*/
}

.app-icon img {
/*	margin-top: 32px; */
	width: 75%;
	height: 75%;
}

.sortable-ghost {
	border: 3px dashed #CCC;
	background : url(../img/icon_plus_cross.png) no-repeat center;
	background-size: 48px;
}
.sortable-ghost > * {visibility: hidden;}