.app-menu {

}

.app-icon {
	float: left;
	width: 128px;
	height: 96px;
	text-align: center;
	margin: 16px;
}

.app-icon img {
/*	margin-top: 32px; */
	width: 64px;
	height: 64px;
}

body,html{
    height:100%;
    width:100%;
}
.off-canvas-wrap,.inner-wrap{
    height:100%;   
}
.page{
    height:100%;   
}

.app-iframe {
	width: 100%;
	height: 100%;
}

#app-client-container {
	width: 100%;
	height: calc(100% - 50px);
	display: none;
}
aside{
margin-top:2.8125rem;
}
