<html>
	<head>
		<title>{{app.name}}</title>
		{{#libraries.css}}
		<script src="./css/{{.}}"></script>
	{{/libraries.css}}
	</head>
	<body>
		<div class="header">{{app.name}}</div>
		<div class="description">{{app.desc}}</div>
		
		<form>
			<p>GOTO : X<input type="text" id="input-x" value="0">  Y<input type="text" id="input-y" value="0"></p>
		</form>
		<button id="run-button" onclick="goto()">GO !</button>
	<footer>
		<p> App created by {{app.author}} | <a href="mailto:{{app.email}}">contact</a> | <a href="{{app.website}}">{{app.website}}</a>
	</footer>
	</body>
	
	{{#libraries.js}}
		<script src="./js/{{.}}"></script>
	{{/libraries.js}}

	<script type="text/javascript">
	function goto(){
		$('#run-button').click(function(evt) {
			program = "G0X"+$('#input-x').val()+"Y"+$('#input-y').val();
			console.log(program);
			if(dashboard.machine) {
				dashboard.machine.gcode(program, function(err) {
				if (err) console.log(err);
				});
			}
		});
	}
	</script>
</html>