{
	"name":"{{app.name}}",
	"main":"./index.html",
	"icon":"icon.png",
	"version":"0.1.0",
	"author":"{{developer.name}}",
	"target":{{&app.targets}},
	"website":"{{developer.website}}",
	"email":"{{developer.email}}"
}
