<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FabMo Dashboard</title>
    <link rel="stylesheet" href="css/foundation.css" />
    <link rel="stylesheet" href="css/style.css" />

    <!-- NAVBAR -->
    <script type="text/template" id="navbar-template">
      <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#">FabMo Dashboard</a></h1>
        </li>
      </ul>
      <section class="top-bar-section">
      <ul class="right">
        <li><a href="#" data-reveal-id="tool-modal">Tool</a></li>
        <li><a href="#/menu">App Manager</a></li>
      </ul>
      </section>
      </nav>
    </script>

    <!-- APP ICONS -->
    <script type="text/template" id="app-icon-template">
      <img src="<%= icon_url %>" alt="<%= name %>">
      <div class="app-title">
        <a href="#/app/<%= id %>"><%= name %></a>
      </div>
    </script>
  </head>

    <!-- APP CLIENT AREA -->
    <script type="text/template" id="app-client-template">
      <iframe class="app-iframe" sandbox="allow-scripts"></iframe>
    </script>

  <body>

    <div id="tool-modal" class="reveal-modal" data-reveal>
      <h4>Manual Control</h4>
      <form>
        <div class="row">
          <div class="small-3 columns">
            <div class="row">
              <div class="small-3 columns">
                <label for="right-label" class="right inline">X</label>
              </div>
              <div class="small-9 columns">
                <input type="text" id="right-label" placeholder="0.0">
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Y</label>
              </div>
              <div class="small-9 columns">
                <input type="text" id="right-label" placeholder="0.0">
              </div>
            </div>
            <div class="row">
              <div class="small-3 columns">
                <label for="right-label" class="right inline">Z</label>
              </div>
              <div class="small-9 columns">
                <input type="text" id="right-label" placeholder="0.0">
              </div>
            </div>
          </div>
          <div class="small-9 columns">
              <div class="row">
                <div class="small-4 columns small-offset-4">
                  <a href="#" class="button">+Y</a>
                </div>
                <div class="small-4 columns">
                  <a href="#" class="button">+Z</a>
                </div>
              </div>

              <div class="row">
                <div class="small-4 columns">
                  <a href="#" class="button">-X</a>
                </div>
                <div class="small-4 columns">
                </div>
                <div class="small-4 columns">
                  <a href="#" class="button">+X</a>
                </div>
              </div>

              <div class="row">
                <div class="small-4 columns">
                </div>
                <div class="small-4 small-offset-4 columns">
                  <a href="#" class="button">-Y</a>
                </div>
                <div class="small-4 columns">
                  <a href="#" class="button">-Z</a>
                </div>
              </div>

          </div>
        </div>
      </form>
      <a class="close-reveal-modal">&#215;</a>
    </div>
    <div id="navbar_container"></div>
    <div id="app_menu_container"></div>
    <div id="modal_container"></div>
    <div id="app-client-container"></div>

    <script src="js/libs/jquery.js"></script>
    <script src="js/libs/foundation.min.js"></script>
    <script src="js/libs/underscore.js"></script>
    <script src="js/libs/backbone.js"></script>
    <script src="js/libs/FabMo-0.6.3.js"></script>
    <script>$(document).foundation();</script>

    <!-- Order matters: Dashboard singleton first, followed by its models and views -->
    <script src="js/context.js"></script>
    <script src="js/models.js"></script>
    <script src="js/views.js"></script>
    <script src="js/routers.js"></script>
    <script src="js/dashboard.js"></script>
    <script src="js/webkit.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
